* {
    box-sizing: border-box; /* включает padding в общую ширину элемента */
}
body {
    background-color: #242422;
    width: 1295px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 1295px;
    margin: 10px 0;
    height: 52px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icon {
    height: 40px;
    cursor: pointer;
}

.ship-card__btns {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body, .btn, p, h1, h2, a {
    font-family: "Gilroy", sans-serif;
    color: #ffff;
    text-decoration: none;
}  
p, h1, h2, h3, a {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}
h1, h2 {
    font-weight: 600;
}
h1 {
    font-size: 46px;
}
h2 {
    font-size: 30px;
}
p {
    font-size: 25px;
}
input {
    font-size: 18px;
}
.ship-card {
    background-color: #3A3A3A;
    border-radius: 5px;
    padding: 33px 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.ship-card__img {
    width: 814px;
}

.ship-card__text {
    width: 814px;
}
ship-card__btns {
    gap: 20px;
    width: 798px;
}

.btn {
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    border: none;
}
.ship-card__btn {
    padding: 12px 0;
    width: 389px;
}
.beige-btn {
    background-color: #AA9B7D;
}
.transparent-btn {
    background-color: #3A3A3A;
    border: solid #ffff 1px;
}