* {
    box-sizing: border-box;
}
.header-icon {
    height: 40px;
    cursor: pointer;
}
header {
    margin-top: 10px;
}
header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    background-color: #242422;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body, .btn, p, h1, h2, h3, a {
    font-family: "Gilroy", sans-serif;
    color: #ffff;
    text-decoration: none;
}  
p, h1, h2, h3, a {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}
h1, h2 {
    font-weight: 600;
}
h1 {
    font-size: 46px;
}
h2 {
    font-size: 30px;
    text-align: center;
}
p {
    font-size: 25px;
}
input {
    font-size: 20px;
}

.request {
    width: 1350px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 30px;

    background-color: #3A3A3A;
    border-radius: 5px;
    padding: 33px 120px;

}
.request__counts {
    display: flex;
    flex-direction: row;
    gap: 310px;
    padding-bottom: 15px;
}
.request__cnt, .fields_item {
    display: flex;
    flex-direction: column;
    gap: 14px;

}
.request__cnt-input, .fields__result--input, .fields__comment--input {
    background-color: #3A3A3A;
    padding: 12px 20px;
    width: 445px;
    border: solid 2px #AA9B7D;
    border-radius: 5px;
    color: #fff;
}

.request__cards {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.request__card {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 40px;

    width: 1198px;
    border: solid 2px #AA9B7D;
    border-radius: 5px;
    padding: 30px 40px;
}

.request__card__title {
    width: 148px;
}

.request__card__ship-card__img {
    width: 360px;
}

.ship-card__other {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ship-card__other-item, .ship-card__cnt-input, .ship-card__other-btn {
    width: 166px;
}
.ship-card__cnt-input {
    background-color: #3A3A3A;
    padding: 12px 20px;
    font-size: 16px;
    text-align: center;
    border: solid 2px #AA9B7D;
    border-radius: 5px;
    color: #fff;
}

.fields {
    width: 1198px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.fields__comment--input { 
    width: 844px;
}
.fields__result--input {
    width: 323px;
}

.ship-card__btns {
    display: flex;
    flex-direction: row;
    justify-content:center;
        align-items: center;
    gap: 50px;
}
.ship-card__btn {
    width: 390px;
}
.btn {
    background-color: #AA9B7D;
    height: 56px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 14px 32px;
    text-align: center;
    border: none;          
}

.ship-card__btn-form {
    display: contents; 
    margin: 0;
    padding: 0;
}

.error_404 {
    font-family: "Gilroy", sans-serif;
    color: #ffff;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 300px;
    font-weight: 700;
    text-align: center;
}
error-message_h1 {
    text-align: center;
}